{% extends 'base.html.twig' %}
{% block body %}



        <div class="fixed-header-space"></div> <!-- empty placeholder div for Fixed Menu bar height-->

        <!-- Start of Breadcrumbs -->
        <div class="breadcrumb-section bgc-offset mb-full">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12">
                        <nav class="breadcrumb">
                            <a class="breadcrumb-item" href="index.html.twig">الصفحة الرئيسية</a>
                            <span class="breadcrumb-item active">عن لمسة حراير</span>
                        </nav>
                    </div>
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div>
        <!-- End of Breadcrumbs -->

        <!-- Start of Main Content Wrapper -->
        <main id="content" class="main-content-wrapper page-about">
            
            <!-- Start of About US Section -->
            <section class="about-section">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-12 col-sm-12 col-md-7 col-lg-6">
                            <div class="content-wrapper">
                                <div class="section-title left-aligned">
                                    <h2><b>لمسة حراير</b></h2>
                                </div>
                                <p class="lead">منذ عام 2006 وشركة لمسة حراير للعباءات تزخر باسمها العريق الذي ضم مجموعة من التصاميم الراقية للعباءة النسائية المستوحاة من الذوق الشرقي للمرأة العربية عامة والكويتية خاصة. فمن دولة الكويت كانت الانطلاقة، وبالتحديد من منطقة الجهراء، حيث وهج النور الأول لشركة لمسة حراير للعباءات وامتد شعاعه إلى مختلف الفروع في المنطقة إضافة إلى منطقة الجهراء كالفروانية والعقيلة وشرق و الفححيل والأفنيوز، ومنها إلى خارج الكويت وكانت الوجهه دول الخليج عبر افتتاح فروع في الرياض (المملكة العربية السعودية ) و كذلك الدوحة ( قطر ) لتكون رائدة في هذا المجال وليتردد صدى اسمها في كل الأنحاء.وفي هذا الصدى، نرحب بكم في أضخم ساحة فنية تجمع بين الموديلات الكلاسيكية والتفاصيل الفخمة المطرزة وفق أحدث التقنيات المواكبة لكل جديد في عالم الموضة والازياء.</p>
                              
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-5 col-lg-6">
                            <div class="overview-img text-center">
                                <a href="#">
                                    <img src="../../assets/images/about/about.jpg" alt="About Us">
                                </a>
                            </div>
                        </div>
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </section>
            <!-- End of About US Section -->

           

            <!-- Start of Testimonial Section -->
            <section class="testimonial-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 position-relative">
                            <div class="testimonial-container">

                                <!-- Slides -->
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="testimonial-media" data-swiper-parallax="-100">
                                            <img src="../../assets/images/testimonial/testimonial-1.jpg" alt="Alva Ono">
                                        </div>
                                        <div class="testimonial-content" data-swiper-parallax="-500">
                                            <p>All Perfect !! I have three sites with magento , this theme is the best !! Excellent support , advice theme installation package , sorry for English, are Italian but I had no problem !! Thank you!</p>
                                            <div class="client-meta" data-swiper-parallax="-300">
                                                <h3 class="client-name">Alva Ono</h3>
                                            </div>
                                        </div>
                                    </div> <!-- end of swiper-slide -->

                                    <div class="swiper-slide">
                                        <div class="testimonial-media" data-swiper-parallax="-100">
                                            <img src="../../assets/images/testimonial/testimonial-2.jpg" alt="Dewey Tetzlaff">
                                        </div>
                                        <div class="testimonial-content" data-swiper-parallax="-500">
                                            <p>All Perfect !! I have three sites with magento , this theme is the best !! Excellent support , advice theme installation package , sorry for English, are Italian but I had no problem !! Thank you!</p>
                                            <div class="client-meta" data-swiper-parallax="-300">
                                                <h3 class="client-name">Dewey Tetzlaff</h3>
                                            </div>
                                        </div>
                                    </div> <!-- end of swiper-slide -->

                                    <div class="swiper-slide">
                                        <div class="testimonial-media" data-swiper-parallax="-100">
                                            <img src="../../assets/images/testimonial/testimonial-3.jpg" alt="Amber Laha">
                                        </div>
                                        <div class="testimonial-content" data-swiper-parallax="-500">
                                            <p>All Perfect !! I have three sites with magento , this theme is the best !! Excellent support , advice theme installation package , sorry for English, are Italian but I had no problem !! Thank you!</p>
                                            <div class="client-meta" data-swiper-parallax="-300">
                                                <h3 class="client-name">Amber Laha</h3>
                                            </div>
                                        </div>
                                    </div> <!-- end of swiper-slide -->
                                </div> <!-- end of swiper-wrapper -->

                                <!-- Pagination -->
                                <div class="swiper-pagination-testimonial"></div>
                            </div> <!-- end of testimonial-container -->
                        </div>
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </section>
            <!-- End of Testimonial Section -->

           

            

            
        </main>
        <!-- End of Main Content Wrapper -->

           <!-- Start of Footer -->
     {% endblock %}