{% extends 'base.html.twig' %}
{% block body %}

        <div class="fixed-header-space"></div> <!-- empty placeholder div for Fixed Menu bar height-->

        <!-- Start of Breadcrumbs -->
        <div class="breadcrumb-section bgc-offset mb-full">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12">
                        <nav class="breadcrumb">
                            <a class="breadcrumb-item" href="index.html.twig">الصفحة الرئيسية</a>
                            <span class="breadcrumb-item active">فروعنا</span>
                        </nav>
                    </div>
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div>
        <!-- End of Breadcrumbs -->

        <!-- Start of Main Content Wrapper -->
        <div id="content" class="main-content-wrapper">
            
            <!-- Start of Blog Posts Section -->
            <div class="blog-posts-section">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                            <main id="primary" class="site-main">
                                <div class="blog-grid-area">
                                   <div class="row">
                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
											<article class="blog-post post-entry">
												<div class="blog-grid">
													<div class="content-wrapper">
	                                                    <div class="post-media">
	                                                        <a href="blog-details.html"><img src="assets/images/blog/sa.png" alt="Blog Image"></a>
	                                                    </div>
	                                                    <div class="post-content">
	                                                        <ul class="post-category">
	                                                        	<li><a href="#">Tech</a></li>
	                                                        </ul>
	                                                        <h3 class="post-title"><a href="blog-details.html">When an unknown printer took a galley of type.</a></h3>
	                                                        <p>Distinctively simplify dynamic resources whereas prospective core competencies. Objectively pursue multidisciplinary human capital for interoperable.</p>
	                                                    </div>
	                                                    <div class="post-footer">
															<div class="post-meta">
																<ul>
																	<li>Jun 20, 2022</li>
																	<li>3 Comments</li>
																</ul>
															</div>
															<div class="post-more">
																<a href="blog-details.html">Read more <i class="fa fa-angle-double-right"></i></a>
															</div>
	                                                    </div>
	                                                </div>
	                                            </div> <!-- end of blog-grid -->
											</article> <!-- end of blog-post -->
                                        </div>

                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
											<article class="blog-post post-entry">
												<div class="blog-grid">
													<div class="content-wrapper">
	                                                    <div class="post-media">
	                                                        <a href="blog-details.html">
                                                                <div class="element-carousel" data-visible-slide="1" data-visible-xl-slide="1" data-visible-lg-slide="1" data-visible-md-slide="1" data-visible-sm-slide="1" data-loop="true" data-autoplay-delay="5000" data-effect="fade">
                                                                    <div class="swiper-wrapper">
                                                                        <div class="swiper-slide">
                                                                            <img src="../../assets/images/blog/kw.png" alt="Blog Image">
                                                                        </div>
                                                                       
                                                                    </div>
                                                                    
                                                                </div>
                                                            </a>
	                                                    </div>
	                                                    <div class="post-content">
	                                                        <ul class="post-category">
	                                                        	<li><a href="#">World</a></li>
	                                                        	<li><a href="#">Travel</a></li>
	                                                        </ul>
	                                                        <h3 class="post-title"><a href="blog-details.html">Many desktop publishing packages and web page editors.</a></h3>
	                                                        <p>Competently brand compelling results with premier solutions. Dynamically generate inexpensive web-readiness whereas e-business expertise. Globally.</p>
	                                                    </div>
	                                                    <div class="post-footer">
															<div class="post-meta">
																<ul>
																	<li>May 10, 2022</li>
																	<li>10 Comments</li>
																</ul>
															</div>
															<div class="post-more">
																<a href="blog-details.html">Read more <i class="fa fa-angle-double-right"></i></a>
															</div>
	                                                    </div>
	                                                </div>
	                                            </div> <!-- end of blog-grid -->
											</article> <!-- end of blog-post -->
                                        </div>

                                        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
											<article class="blog-post post-entry">
												<div class="blog-grid">
													<div class="content-wrapper">
	                                                    <div class="post-media">
	                                                        <a href="blog-details.html"><img src="../../assets/images/blog/qa.png" alt="Blog Image"></a>
	                                                    </div>
	                                                    <div class="post-content">
	                                                        <ul class="post-category">
	                                                        	<li><a href="#">Digital Design</a></li>
	                                                        </ul>
	                                                        <h3 class="post-title"><a href="blog-details.html">Various versions have evolved over the years sometimes.</a></h3>
	                                                        <p>Assertively streamline e-business "outside the box" thinking vis-a-vis future-proof functionalities. Dynamically revolutionize highly efficient relationships.</p>
	                                                    </div>
	                                                    <div class="post-footer">
															<div class="post-meta">
																<ul>
																	<li>Apr 20, 2022</li>
																	<li>1 Comment</li>
																</ul>
															</div>
															<div class="post-more">
																<a href="blog-details.html">Read more <i class="fa fa-angle-double-right"></i></a>
															</div>
	                                                    </div>
	                                                </div>
	                                            </div> <!-- end of blog-grid -->
											</article> <!-- end of blog-post -->
                                        </div>

                                       
                                       

                                        
                                    </div> <!-- end of row -->
                                </div> <!-- end of blog-grid-area -->

                                
                            </main> <!-- end of #primary -->
                        </div>
                    </div> <!-- end of row -->
                </div> <!-- end of container -->
            </div>
            <!-- End of Blog Posts Section -->
        </div>
        <!-- End of Main Content Wrapper -->

  {% endblock %}